Repository TysonDouglas/FHEAthleteSelection: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint --fix, prettier --write, eslint --fix

chore: chore: chore: chore: create .commitlintrc
  .commitlintrc
Due: none

feat: add new features: hardhat.config
  hardhat.config.js
Due: prettier --write, eslint --fix

chore: update .env.example
  .env.example
Due: none

chore: update package.json
  package.json
Due: prettier --write

docs: update SECURITY_PERFORMANCE documentation
  SECURITY_PERFORMANCE.md
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

feat: add new features in athlete-selection (14 files)
  README.md
  athlete-selection/AnonymousAthleteSelection.mp4
  athlete-selection/README.md
  athlete-selection/app.js
  athlete-selection/contracts/AnonymousAthleteSelection.sol
  athlete-selection/deploy.js
  athlete-selection/ethers-mock.js
  athlete-selection/ethers.min.js
  athlete-selection/hardhat.config.js
  athlete-selection/index.html
  athlete-selection/package-lock.json
  athlete-selection/package.json
  athlete-selection/styles.css
  athlete-selection/vercel.json
Due: solhint --fix, prettier --write, eslint --fix

chore: chore: chore: chore: create demo
  fhevm-react-template/examples/privacy-regulatory-reporting/demo
Due: none

chore: chore: create demo
  fhevm-react-template/examples/privacy-regulatory-reporting/demo
Due: none

chore: chore: implement AnonymousAthleteSelection.sol
  contracts/AnonymousAthleteSelection.sol
Due: solhint --fix, prettier --write

docs: update API documentation
  docs/API.md
Due: prettier --write

docs: update ARCHITECTURE documentation
  docs/ARCHITECTURE.md
Due: prettier --write

docs: update V2_0_UPGRADE_SUMMARY documentation
  V2_0_UPGRADE_SUMMARY.md
Due: prettier --write

docs: update README
  AnonymousAthleteSelection-main/AnonymousAthleteSelection-main/README.md
Due: prettier --write

docs: update documentation
  V2_0_UPGRADE_SUMMARY.md
  docs/API.md
  docs/ARCHITECTURE.md
Due: prettier --write

Path conditions:
  solhint --fix: any of: *.sol
  prettier --write: ((any of: *.sol) or (any of: *.js)) or (any of: *.{json,md})
  eslint --fix: any of: *.js
